body {
    font-family: 'Orbitron';
    text-align: left; 
    background-color: white;   
    padding: 20px;
    color:white;
    
    background-image: url("../Images/background-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#rules{
    text-align: left;
    width: 1000px;
}

form{
    float: right;
    padding-left: 100px;
    padding-right: 300px;
}

#form_title{
    margin-right: 250px;
    text-align: right;
    margin-top: -170px;
    text-decoration: underline;
}

#disclaimer{
    text-align: left, bottom;
    font-style: italic;
    color: gray;
    width: auto;
    height: 50px;
    display: block;
    margin-top: 425px;
}

#graph_link{
    text-align: left;
    width: 1000px;
    margin-top: 150px;
    text-decoration: underline;
    color:rgb(81, 81, 255);
}

#home_link{
    text-align: left;
    width: 1000px;
    margin-top: 150px;
    text-decoration: underline;
    color:rgb(81, 81, 255);
}

#links, #right_links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: large;
}

#graph_link:visited, #home_link:visited {
    color: rgb(81, 81, 255);
}

#graph_link:hover, #home_link:hover {
    color: rgb(219, 35, 207);
}

#right_links {
    text-align: right;
    margin-top: -50px; 
}

.account_link {
    color: rgb(24, 24, 251);
    text-decoration: underline;
}

.account_link:hover {
    color: rgb(164, 3, 154);
}

.account_link:visited {
    color: rgb(24, 24, 251);
}

#profit_chart{
    background-color: white;
}

#chart_container {
    width: 1000px;
    height: 500px;
}

#calculate_button, #save_chart_btn, #delete_chart_button, #download_chart_btn {
    background-color: rgb(81, 81, 255);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 5px;
}

#saved_charts{
    width: 1000px;
    height: 500px;
    background-color: white;
    margin-top: 10px;
}
