body {
    font-family: 'Orbitron';
    text-align: left; 
    background-color: white;   
    padding: 20px;
    color:white;
    
    background-image: url("../Images/background-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#rules{
    text-align: left;
    width: 1000px;
}

form{
    float: right;
    padding-left: 100px;
    padding-right: 300px;
}

#form_title{
    margin-right: 250px;
    text-align: right;
    margin-top: -170px;
    text-decoration: underline;
}

#disclaimer{
    text-align: left;
    font-style: italic;
    color: gray;
    width: auto;
    height: 50px;
    display: block;
    margin-top: 425px;
}

#graph_link{
    text-align: left;
    width: 1000px;
    margin-top: 150px;
    text-decoration: underline;
    text-decoration-color: rgb(112, 112, 230);
}

#home_link{
    text-align: left;
    width: 1000px;
    margin-top: 150px;
    text-decoration: underline;
    text-decoration-color: rgb(112, 112, 230);
}

#links{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: left;
}

#links:visited {
    color: white;
}

#links:hover {
    color: white;
}